@tailwind base;
@tailwind components;
@tailwind utilities;
body {
    background-color: #ccc;
    /* color: #ff0000;
    color: #008000; */
}

.rounded-full {
    border-radius: 110%;
}

.red-after::after {
    content: '';
    height: 100%;
    width: 3px;
    position: absolute;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    background-color: #f00000;
}

.f-arrow {
    transform: translate(-50%, -50%) rotateZ(36deg);
}

.s-arrow {
    transform: translate(-50%, -50%) rotateZ(-36deg);
}

.f-arrow::after,
.s-arrow::after,
.f-arrow::before,
.s-arrow::before {
    content: '';
    position: absolute;
    left: 50%;
    transform: translateX(-50%);
    background-color: #ffffff;
}

.f-arrow::after,
.s-arrow::after {
    border-radius: 40%;
    top: -1px;
    height: 12px;
    width: 10px;
}

.f-arrow::before,
.s-arrow::before {
    width: 16px;
    top: -15px;
    height: 28px;
    border-bottom-left-radius: 50%;
    border-bottom-right-radius: 50%;
    clip-path: polygon(50% 0%, 0% 100%, 100% 100%);
    z-index: 200;
}